/iso/*
!/iso/README.md
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
.librarian
.tmp
Puppetfile .lock
/*.box
.vagrant
/packer_cache/

